[submodule "vendor/stonefish"]
	path = vendor/stonefish
	url = git@github.com:patrykcieslak/stonefish.git
[submodule "vendor/stonefish_ros2"]
	path = vendor/stonefish_ros2
	url = git@github.com:JuanDelPueblo/stonefish_ros2.git
